body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import "imports";

@include generate-margin-classes-for(-50);
//generating padding classes
$paddingIndex:0;
@while($paddingIndex < 101) {
  @include generate-padding-classes-for($paddingIndex);
  $paddingIndex: $paddingIndex + 5;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
